<main>
	<div class="content-limit">
		<h4>Lorem ipsum dolor sit amet</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh lacus, euismod mattis turpis ut, maximus tristique massa. Quisque interdum nisl at ligula vehicula lacinia. Nulla pretium, sapien eu pharetra mattis, neque diam elementum quam, vulputate volutpat turpis purus in ex. Phasellus dignissim libero at mollis pharetra. Suspendisse tincidunt sagittis molestie. In tortor quam, malesuada eget laoreet in, lacinia quis risus. Aenean tempor tempor porttitor. Nullam vel ullamcorper elit. Fusce auctor metus eu auctor auctor. Quisque consequat ultricies est, aliquam convallis diam. Morbi ac posuere arcu. Suspendisse eleifend libero suscipit nisl eleifend laoreet. Quisque arcu mi, facilisis vitae gravida non, fringilla in ante. Pellentesque hendrerit aliquet odio, vel fermentum metus sagittis porttitor. Vestibulum id lorem mi. Praesent metus metus, faucibus ac purus non, mollis dignissim libero. Etiam lorem dui, viverra et libero porttitor, hendrerit feugiat lorem.
			Maecenas ac blandit ex. Nunc at leo euismod, gravida purus vel, egestas quam. Aenean dapibus quam lobortis, vestibulum nibh in, vestibulum metus. Nullam interdum a massa posuere euismod. Aliquam varius tortor ut purus feugiat lobortis. Pellentesque ac velit nisl. Cras nunc leo, molestie sit amet sem ut, laoreet mattis velit. Quisque fermentum consequat lobortis. Nulla porttitor lobortis odio a posuere. Pellentesque fringilla, lectus eu interdum posuere, mauris enim euismod ipsum, ac consectetur diam velit vel dui. Phasellus sit amet tempor odio. Quisque iaculis purus et nulla rhoncus maximus. Nunc dignissim et nisl at sagittis. Duis cursus consectetur eleifend.
		</p>
	</div>
</main>

<style lang="scss">
    main{
        background-color: var(--fill);
    }

    .content-limit{
        padding: 64px 0px;
        color: var(--text-dark);

        h4{
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        p{
            font-size: 16px;
            line-height: 150%;
        }
    }
</style>