---
interface Props {
	title: string;
	text: string;
}

const { title, text } = Astro.props;
---

<main>
	<div class="content-limit">
		<h4>{title}</h4>
		<p set:html={text}></p>
	</div>
</main>

<style lang="scss">
	main {
		background-color: var(--fill);
	}

	.content-limit {
		padding: 44px 0px;
		color: var(--text-dark);

		h4 {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 16px;
		}

		p {
			font-size: 16px;
			line-height: 150%;
		}
	}
</style>
