button.btn {
	width: max-content;
	height: max-content;
	padding: 8px 16px;
	border-radius: 8px;

	font-size: 16px;
	font-weight: 500;
	border: none;

	&:hover {
		cursor: pointer;
	}
}

.content-limit{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0px 16px;
}

.desktop-only{
	display: inherit;
}

.mobile-only{
	display: none;
}

@media screen and (max-width: 1024px) {
	.desktop-only{
		display: none;
	}
	
	.mobile-only{
		display: inherit;
	}
}
