---
import IMGTravels from "@assets/new/travels.webp";
import IMGTravelsMobile from "@assets/new/travels-m.webp";

import ICONWhatsapp from "@assets/new/icons/whatsapp.svg?raw";
import { Image } from "astro:assets";
import Icon from "@components/icon.astro";
---

<section id="contact">
	<div class="content-limit">
		<Image class="mobile-only" src={IMGTravelsMobile} alt="Viajante andando pela cidade e imagem de veiculo viajando pela estrada" />
		<Image class="desktop-only" src={IMGTravels} alt="Viajante andando pela cidade e imagem de veiculo viajando pela estrada" />

		<div class="info">
			<h3>
				<strong> Entre em contato </strong>
				<br class="mobile-only" />
				e comece seu sonho
			</h3>

			<p>Temos agentes preparados para lhe ajudar a encontrar seu destino de segunda a sexta das 8h as 18h</p>

			<hr />

			<a class="btn btn-contact" href="https://api.whatsapp.com/send/?phone=0&text&type=phone_number&app_absent=0" target="_blank">
				<Icon icon={ICONWhatsapp} />
				Iniciar conversa
			</a>
		</div>
	</div>
</section>

<style lang="scss">
	#contact {
		background-color: var(--fill);
		padding: 64px 0px 48px;

		.content-limit {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			gap: 32px;

			img {
				max-width: 100%;
				height: auto;
			}

			h3 {
				font-size: 40px;
				font-weight: 500;
				color: var(--text-dark);
				line-height: 100%;

				strong {
					color: var(--primary-color);
					font-weight: 800;
				}
			}

			p {
				font-size: 16px;
				font-weight: 500;
				color: var(--text-dark);
				line-height: 150%;
				margin-top: 16px;
			}
			hr {
				background-color: var(--border);
				max-width: 70%;
				margin: 24px 0;
			}

			.btn-contact {
				background-color: var(--white);
				border: 1px solid var(--border);
				font-weight: 700;
				color: var(--green);
			}
		}
	}

	@media screen and (max-width: 1024px) {
		#contact {
			background-color: var(--fill);
			padding: 64px 0px 48px;

			.content-limit {
				flex-direction: column-reverse;
				gap: 8px
			}
		}
	}
</style>
