---
import IMGTravels from "@assets/new/travels.png";
import { Image } from "astro:assets";
---

<section id="contact">
	<div class="content-limit">
		<Image src={IMGTravels} alt="Viajante andando pela cidade e imagem de veiculo viajando pela estrada" />

        <div class="info">
            <h3> <strong> Entre em contato </strong>
                e comece seu sonho</h3>
        </div>
	</div>
</section>
