---
import { Image } from "astro:assets";
import Menu from "@components/menu.astro";
import IMGLogo from "@assets/new/logo.png";
import BtnPlane from "@components/btn-plane.astro";
---

<header id="header">
	<Menu>
		<Image class="logo" src={IMGLogo} alt="Logo Out Country" />

		<div class="buttons">
			<BtnPlane>Destino</BtnPlane>
			<BtnPlane>Galeria</BtnPlane>
			<BtnPlane>Onde nos encontrar</BtnPlane>
			<BtnPlane>Entre em contato</BtnPlane>
		</div>
	</Menu>

	<div class="content-limit">
		<h1>Querendo  <br class="mobile-only"> fazer um <br class="desktop-only"> intercâmbio?</h1>
		<p>Confira nossos destinos</p>
	</div>
</header>

<style lang="scss">
	#header {
		position: relative;
		height: 90vh;

		background-image: url("../../assets/new/bg-header.png");
		background-size: cover;
		background-position: center center;

		display: flex;
		align-items: center;
		justify-content: center;

		h1{
			font-size: 48px;
			font-weight: 900;
			color: var(--white);
			line-height: 120%;
		}

		p{
			font-size: 16px;
			font-weight: 900;
			color: var(--white);
			margin-top: 32px;
		}
	}

	.logo {
		width: auto;
		height: 35px;
	}

	.buttons {
		display: flex;
		flex-flow: row nowrap;
		gap: 12px;
	}
</style>
