---
import CardDestination from "@components/card-destination.astro";

import IMGFranceCover from "@assets/new/france/01.png";
import IMGItalyCover from "@assets/new/italy/01.png";
import IMGEnglandCover from "@assets/new/england/01.png";
---

<section id="main-destinations">
	<div class="content-limit">
		<h3>Conheça nossos <strong>princiapais destinos</strong></h3>

		<div class="destinations-list">
			<CardDestination imgSrc={IMGFranceCover} title="França" description="Torre Eiffel, Château de Chenonceau, Museu D’Orsay, Arco do Triunfo..." link="new/france" />
			<CardDestination imgSrc={IMGItalyCover} title="Itália" description="Pisa, Siena, Milão, Florença, Verona, Taormina, Roma, Bolonha..." link="new/italy" />
			<CardDestination imgSrc={IMGEnglandCover} title="Inglaterra" description="Castelo de Windsor, Stonehenge, Termas Romanas de Bath..." link="new/england" />
		</div>
	</div>
</section>

<style lang="scss">
	#main-destinations {
		padding: 128px 0px;
		background-color: #f1f1f1;

		background-image: url("../../assets/new/bg-main-destinations.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		h3 {
			margin-bottom: 48px;
			font-size: 48px;
			color: var(--text-dark);
			font-weight: 500;

			strong {
				display: block;
				font-weight: 900;
				color: var(--primary-color);
			}
		}

		.destinations-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 48px;
		}
	}

	@media screen and (max-width: 1024px) {
		#main-destinations {
			padding: 32px 0px 48px;
			background-position: center left;

			h3{
				font-size: 32px;
			}
			.destinations-list {
				display: flex;
				flex-direction: column;
			}

		
		}
	}
</style>
