<button btn-plane class="btn btn-blur">
	<slot />
</button>

<style>
	.btn.btn-blur {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 8px;

		padding: 8px 12px;

		font-size: 16px;
		font-weight: 600;
		color: var(--white);
		border: 2px solid var(--white);
		background-color: rgba(255, 255, 255, 0.1);
	
        backdrop-filter: blur(2px);

		transition: 300ms;
	}   
</style>
