---
import SVGPlane from "@assets/new/icons/plane.svg?raw";
import Icon from "./icon.astro";
---

<button class="btn btn-plane">
	<div class="icon-plane">
		<Icon icon={SVGPlane} /> 
	</div>
	<slot />
</button>

<style lang="scss">
	.btn.btn-plane {
		position: relative;
		padding: 12px 32px;

		background-color: transparent;
		border: 1px solid transparent;
		color: var(--white);

		transition: 300ms;

		.icon-plane {
			position: absolute;
			left: -10px;
			top: calc(50% - 10px);

			width: 20px;
			height: 20px;

			opacity: 0;

			transition: 500ms ease-in-out;
		}

		&:hover {
			border: 1px solid var(--white);

			.icon-plane {
				opacity: 1;
			}
		}
	}
</style>
