---
import Old from "../../layouts/Old.astro";
---

<Old>
	<header>
		<div id="logo"></div>
	</header>
	<nav>
		<menu>
			<ul>
				<li><a href="/old/">EMPRESA</a></li>
				<li><a href="/old/destino">DESTINOS</a></li>
				<li><a href="/old/fotos" style="border-bottom: 4px solid #fff;">GALERIA</a></li>
				<li><a href="/old/local">LOCALIZAÇÃO</a></li>
				<li><a href="/old/call">CONTATE-NOS</a></li>
			</ul>
		</menu>
	</nav>
	<main>
		<article>
			<h1>VEJA ALGUNS DE NOSSOS CLIENTES E UM POUCO DA EXPERIENCIA QUE VIVERAM</h1>
			<div id="myImg1" ></div>
			<div id="myImg2" ></div>
			<div id="myImg3"></div>
			<div id="myImg4"></div>
			<div id="myImg5"></div>
			<div id="myImg6" ></div>
			<div id="myImg7"></div>
			<div id="myImg8"></div>
			<div id="myImg9"></div>
			<div id="myImg10"></div>
			<div id="myImg11"></div>
			<div id="myImg12" ></div>
			<div id="myImg13" ></div>
			<div id="myImg14" ></div>
			<div id="myImg15"></div>
			<div id="myImg16" ></div>
			<div id="myImg17" ></div>
			<div id="myImg18"></div>
			<div id="myImg19"></div>
			<div id="myImg20"></div>
		</article>
	</main>
	<footer>
		<div class="logo"></div>
		<div id="numero">4002-8922</div>
		<div class="peso"></div>
		<hr />
		 Desenvolvido por Gabriel Gonçalves
	</footer>
</Old>
