---
import Old from "../../layouts/Old.astro";
---

<Old>
	<header>
		<div id="logo"></div>
	</header>
	<nav>
		<menu>
			<ul>
				<li><a href="home">EMPRESA</a></li>
				<li><a href="destino" style="border-bottom: 4px solid #fff;"> DESTINOS</a></li>
				<li><a href="fotos">GALERIA</a></li>
				<li><a href="local">LOCALIZAÇÃO</a></li>
				<li><a href="call">CONTATE-NOS</a></li>
			</ul>
		</menu>
	</nav>
	<main>
		<article>
			<h1>FRANÇA</h1>
			<section class="back1"></section>
			<section class="other_back">
				<section class="back2"></section>
				<section class="back3"></section>
			</section>
			<section class="text_dest">
				<p>Por cerca de meio milênio,[7] o país tem sido uma grande potência, com forte influência econômica, cultural, militar e política no âmbito europeu e global. Durante muito tempo a França exerceu um papel de liderança e hegemonia na Europa (principalmente a partir da segunda metade do século XVII e parte do XVIII). Ao longo daqueles dois séculos, a nação iniciou a colonização de várias áreas do planeta e, durante o século XIX e início do século XX, chegou a constituir o segundo maior império da história, o que incluía grande parte da América do Norte, África Central e Ocidental, Sudeste Asiático e muitas ilhas do Pacífico.</p>
				<p>O país tem seus principais ideais expressos na Declaração dos Direitos do Homem e do Cidadão. A República Francesa é definida como indivisível, laica, democrática e social pela sua constituição.[8] A França é um dos países mais desenvolvidos do mundo,[9] possui a quinta maior economia do mundo por PIB nominal, a nona maior por paridade do poder de compra e a segunda maior de toda a Europa.[10] O país goza de um alto padrão de vida, bem como um elevado nível de escolaridade pública, além de ter uma das mais altas expectativas de vida do mundo.[11] A França foi classificada como o melhor provedor de saúde pública do mundo pela Organização Mundial de Saúde (OMS).[12] É o país mais visitado no mundo, recebendo 82 milhões de turistas estrangeiros por ano.</p>
				<p>A França tem o terceiro maior orçamento militar do mundo[14], a terceira maior força militar da OTAN e o maior exército da União Europeia, além de ser um dos cinco membros permanentes do Conselho de Segurança das Nações Unidas e possuir o terceiro maior número de armas nucleares do mundo.[15] O país é um dos membros fundadores da União Europeia e possui a maior área e a segunda maior economia do bloco. É também membro fundador da Organização das Nações Unidas, além de ser membro da Francofonia, do G8, do G20, da OTAN, da OCDE, da OMC e da União Latina.</p>
				<p>
					Não há muitos relatos sobre a origem do nome França. O nome Francia refere-se à área original do norte da Europa, que era habitada, ou melhor dominada, por guerreiros germânicos que chamavam a si próprios de francos. Francia é uma adaptação latina do século III do termo Franko(n), nome que os francos a deram quando estavam em seu domínio, atualmente localizada provavelmente no que hoje corresponde à região de Flandres, na Bélgica. Realmente, a partir dos séculos III e IV, os romanos já tinham tido contacto com os francos. Os romanos vieram a contratá-los como mercenários em seu exército, e bem antes das invasões germânicas. O nome Francia não tem conotação política, mas sim de localização ou sociológica, como Magrebe ou os Bálcãs no século XXI. O povo franco era uma nação de guerreiros que elegia um chefe de guerra denominado rei dos francos, e local livre, sob a sua competência pelos assuntos de Guerra. A guerra é considerada como o valor da liberdade, e a palavra
					"franco" se tornou, a partir daí, sinónimo de livre.
				</p>
				<p>Outra teoria é que o nome dos francos deriva da palavra goda "frankon", que era o nome do machado de guerra utilizado pelos habitantes da região. Esse machado atualmente é conhecido como franquisque, conforme designado no "Ethymologiarum sive originum, libri XVIII", livro escrito por Isidoro de Sevilha (ca. 560–636).</p>
			</section>
		</article>
	</main>
	<footer>
		<div class="logo"></div>
		<div id="numero">4002-8922</div>
		<div class="peso"></div>
		<hr />
		 Desenvolvido por Gabriel Gonçalves
	</footer>
</Old>

<style>
	article {
		margin-top: 2em;
		background-color: rgba(255, 255, 255, 0.6);
		padding: 0em;
		min-height: 50em;
	}
	h1 {
		width: 100%;
		font-size: 9em;
		margin: 0em;
		padding: 0em;
		background-color: #fff;
		color: #f1c000;
		padding-top: 0.4em;
		border-top: 5px solid #f1c000;
	}
	article {
		box-shadow: 0px 5px 20px 0px #000;
		padding: 0em;
		text-align: justify;
	}
	p {
		color: #000;
	}
</style>
